# Config file for automatic testing at travis-ci.org
language: python
python:
- "2.6"
- "2.7"
- "3.2"
# - "3.3"
# - "3.4"
- "pypy"
install:
- pip install -r requirements-dev.txt
script: nosetests
# TODO: put actual testing here
