-r requirements.txt

nose

# tox
# yolk
# WebTest==2.0.18
# argcomplete==0.8.8
# binaryornot==0.3.0
# mock==1.0.1
# PyYAML==3.11
# pybuilder
# eralchemy

# -- used by behave
# parse
# six
# enum34
# parse-type
# behave
