-r requirements.txt

# -- testing tools and code analysis
tox==2.7.0
pylint==1.7.1
codacy-coverage==1.3.6
coverage==4.4.1
coveralls==1.1
docopt==0.6.2
nose==1.3.7
PyYAML==3.12
#requests==2.11.1

# -- releases
bumpversion==0.5.3

# -- dependency management
pipdeptree==0.10.1

# -- functional testing
paste==2.0.3
pastedeploy==1.5.2
WSGIProxy2==0.4.4

# -- bdd
behave==1.2.5

# -- https://github.com/wdm0006/pypi-publisher
# pypi-publisher

# -- others to think about
# fabric
# yolk
# argcomplete
# binaryornot
# mock
# PyYAML
# pybuilder
# eralchemy
# robotframework
# cookiecutter
