-r requirements.txt

# -- below are for dev environment only

tox
nose

# WebTest==2.0.18

# bumpversion==0.5.3
# pipdeptree==0.4.2
# argcomplete==0.8.8
# binaryornot==0.3.0
# cookiecutter==1.0.0
# mock==1.0.1
# PyYAML==3.11
# wheel==0.24.0
# pybuilder
# eralchemy

# -- used by behave
# parse
# six
# enum34
# parse-type
# behave
