<html>
	<head>

		<title>{{ title or '' }}</title>
											
		<!-- Basic Page Needs
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Mobile Specific Metas
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- FONT
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

		<!-- CSS
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" type="text/css" href="{{ get_url('assets', filepath='skeletoncss/css/normalize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ get_url('assets', filepath='skeletoncss/css/skeleton.css') }}">
		<!-- link rel="stylesheet" href="css/custom.css" -->

		<!-- Scripts
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<script src="{{ get_url('assets', filepath='jquery/js/jquery-1.11.3.min.js') }}"></script>

	</head>
	<body>

<div class="section hero">

<form action="/list/add" method="POST">
  <div class="container">
  <section class="header">
  <h1 >Cuturl</h1>
  </section>

  <div class="row">
      <div class="six columns">
        <label>URL</label>
        <input class="u-full-width" placeholder="http://www.google.com" name="url-input" type="url">
      </div>
      <div class="six columns">
        <label>Comment</label>
        <input class="u-full-width" placeholder="My favourite search engine" name="comment-input" type="text">
      </div>
    </div>
    <div class="row">
      <div class="one column">
        <input type="submit" class="button button-primary" name="save" value="Shorten!">
     </div>
    </div>
  </div></form>

  <div class="container">
          <div class="row">
              <div class="one-third column"><a href="/" class="button">Home</a></div>
              <div class="one-third column"><a href="/list/" class="button">List</a></div>
          </div>  
  </div>
  <div class="container">
                {{!base}}
  </div>      

</div> <!-- hero -->

</body>
</html>
