<html>
	<head>

		<title>{{ title or 'Bottle Boilerplate'}}</title>
											
		<!-- Basic Page Needs
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Mobile Specific Metas
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- FONT
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

		<!-- CSS
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="{{ get_url('assets', path='skeletoncss/css/normalize.css') }}">
		<link rel="stylesheet" href="{{ get_url('assets', path='skeletoncss/css/skeleton.css') }}">
		<!-- link rel="stylesheet" href="css/custom.css" -->

		<!-- Scripts
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<!-- Favicon
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="icon" type="image/png" href="{{ get_url('assets', path='skeletoncss/images/favicon.png') }} ">
		  		  
	</head>
	<body>
		<ul class="breadcrumb">
		<li><a href="/">Home</a> <span class="divider">/</span></li>
		<li><a href="/user/">Users</a> <span class="divider">/</span></li>
		</ul>
		{{!base}}
	</body>
</html>
