{% extends 'layout.html' %}

{% block content %}

<strong>Links</strong>
<i>{{ jlinks }}</i>
<table>

<thead>
<tr>
<th>URL</th>
<th>Slug</th>
<th>Description</th>
<th>Create Time</th>
</tr>
</thead>
{% for link in jlinks %}
<!-- {{ link }} -->
	
	<tr>
            <td><a href="{{link.url}}">{{link.url}}</a></td>
            <td><a href="/list/{{link.slug}}">{{link.slug}}</a></td>
            <td>{{ link.description }}</td>
            <td>{{ link.create_time }}</td>
        </tr>
{% endfor %}
</table>

{% endblock %}
